.chat-responses-div {
    border-bottom: 1px solid gray;
    margin-bottom: 0.5em;
}
.chat-responses-div .date {
    text-align: right;
    color:gray;
    font-size: 0.6em;
    width: 100%;
    float: right;
}

.question {
    font-style: italic;
    color: gray;
}