<div class="chat-generator-container">

    <!-- Selector de modelos -->


  <!-- Selector de modelos -->
  <label for="model-select">Selecciona un modelo:</label>
  <select id="model-select" [(ngModel)]="selectedModelName" name="model" required>
    <option *ngFor="let model of models" [value]="model.name">{{ model.name }}</option>
  </select>
  
  <!-- Selector de roles -->
  <label for="role-select">Selecciona un rol:</label>
  <select id="role-select" [(ngModel)]="selectedRoleName" name="role" required>
    <option *ngFor="let role of rolesystem" [value]="role.name">{{ role.name }}</option>
  </select>

    <!-- Botón para añadir un nuevo chat -->
    <button (click)="addChat()">Iniciar nuevo chat</button>
</div>

<!--
<div class="chat-container">
    <div class="chat-box" *ngFor="let chat of chats">
        <div class="chat-header">
            <h3>{{ chat.role }} / {{ chat.model }}</h3>
            <button (click)="removeChat(chat.id)">Cerrar chat</button>
        </div>
    

        <app-chat [selectedRole]="chat.role" [selectedModel]="chat.model"></app-chat>
    </div>
</div>
-->
