.chat-list li {
    padding: 1em 0em 1em 0;
    border-radius: 3px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between; /* Asegura que el contenido se distribuye entre los dos extremos */
    align-items: center; /* Centra los elementos verticalmente */
}

.chat-list li span {
    margin-left: 0.6em;
}

.chat-list li span input {
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-inline-start: 0.3em;
}


.chat-icons {
    display: flex; /* Asegura que los iconos estén alineados entre sí */
    align-items: center; /* Alinea los iconos verticalmente */
}

.chat-icons i {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.5em;
    margin-right: 0.5em; /* Añade un poco de espacio entre los iconos */
}
