<div class="chat-list">
  <ul>
    <li *ngFor="let chat of chats">
      <!--<span>{{ chat.shortName }} - {{ chat.model }}</span>-->

      <!-- Si este chat está en edición, muestra un input, si no, muestra el nombre -->
      <span *ngIf="chat === editingChat; else displayName">
        <input [(ngModel)]="editName" (blur)="saveChatName(chat)" (keyup.enter)="saveChatName(chat)" autofocus />
      </span>
      <ng-template #displayName>
        <span>{{ chat.shortName }} - {{ chat.model }}</span>
      </ng-template>


      <span class="chat-icons">
        <i class="fa-solid fa-pen" (click)="renameChat(chat)"></i>
        <i class="fa-solid fa-circle-xmark" (click)="removeChat(chat)"></i>
        <i class="fa-solid fa-arrow-right" (click)="selectChat(chat)"></i>
      </span>
    </li>
  </ul>
</div>