.responses-box {
    
}

.chat-form {
    width: 100%
}

.form-box { 
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    margin: 1.5em 0 0.8em 0;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */

} 
.form-box input { 
    width: 79%; 
    margin-right: 1%

} 
.form-box button { 
    width: 20%;

 }

 .form-box input, .form-box button {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    height:2.5em;
    border: 1px solid gray;
    border-radius: 5px; 
 }
