<!-- Iterar sobre las respuestas y mostrarlas con el componente app-chat-responses -->

<div class="form-box
p-4 form-box flex justify-between items-center w-full">
  <form class="chat-form" (ngSubmit)="onSubmit(chatForm)" #chatForm="ngForm"> <!-- Pasa chatForm como argumento -->
    <input class="w-full p-2 border border-gray-300 rounded-md ng-untouched ng-pristine ng-valid" type="text" name="message" ngModel required placeholder="Escribe tu mensaje aquí">
      <!-- Campos ocultos para el rol y el modelo -->
    <!-- Campos ocultos para el rol y el modelo -->
    <input type="hidden" name="role" [value]="selectedRole">
    <input type="hidden" name="model" [value]="selectedModel">
    <button type="submit">Enviar</button>
  </form>

</div>
