
<div #chatContainer style="overflow-y: scroll; max-height: 100vh;">
    <app-chat-title *ngIf="selectedChat" 
    [chat]="selectedChat" 
    [selectedShortName]="selectedChat.shortName"
    [selectedRole]="selectedChat.role" 
    [selectedModel]="selectedChat.model">
</app-chat-title>

<div class="flex items-center justify-center">
<div 
class="w-full max-w-4xl flex-grow p-4 border border-gray-300 mt-4 bg-gray-100 rounded-lg">
  
    <div class="chat-responses space-y-4" *ngIf="selectedChat">
        <app-chat-responses *ngFor="let res of selectedChat.responses" 
        [response]="res.message" 
        [timestamp]="res.timestamp" 
        [question]="res.question">
        </app-chat-responses>
    </div>


    
    <app-chat *ngIf="selectedChat"
        [chat]="selectedChat" 
        [selectedShortName]="selectedChat.shortName"
        [selectedRole]="selectedChat.role" 
        [selectedModel]="selectedChat.model">
    </app-chat>
</div>

</div>
<span #chat></span>

</div>