
<h2 class="text-gray-600 text-2xl font-bold mt-6 mb-3">Bienvenido</h2>

<p>AnotherBrain es una herramienta diseñada para generar y almacenar chats de ChatGPT dinámicamente, 
    lo que permite manejar múltiples conversaciones de manera ordenada y sin interrupciones. 
    Está integrado con la API de ChatGPT, que proporciona respuestas inteligentes y personalizadas en tiempo real. 
</p>

<h2 class="text-gray-600 text-2xl font-bold mt-6 mb-3">Cómo funciona</h2>
<ul class="custom-list list-disc ml-6">
    <li><p>Desde el menú puedes crear un nuevo chat dándole un nombre, 
        eligiendo un modelo de entre los disponibles y describiendo el rol que tendrá. 
        El chat se añadirá a la lista. Dentro del mismo se puede interactuar con la API de <a class="text-blue-600 underline" href="https://groq.com">Groq</a>.</p>
    </li>
    <li><p>Un usuario logueado con su cuenta de Google tendrá almacenados sus chats,
        preguntas y respuestas. El sistema sólo almacena un id aleatorio de usuario que permite su autenticación, 
       pero no se guarda el correo electrónico ni ningún otro dato personal.</p>
    </li>
    <li><p>
        Desde la lista de chat el usuario puede editar las características del chat o borrarlo de la base de datos.</p>
    </li>
    <li><p>
        Cada par pregunta/respuesta tiene un icono de una paplera junto su fecha de creación.
        Pulsando este icono el par será borrado de la base de datos.</p> 
    </li>
    <li><p>
        Desde la zona de usuario, es posible borrar todos los datos del usuario.</p>
    </li>
</ul>
