
<h2 class="text-gray-600 text-2xl font-bold mt-6 mb-3">Bienvenido al proyecto</h2>

<p>AnotherBrain es una herramienta diseñada para generar y almacenar chats de ChatGPT dinámicamente, 
    lo que permite manejar múltiples conversaciones de manera ordenada y sin interrupciones. 
    Está integrado con la API de ChatGPT, que proporciona respuestas inteligentes y personalizadas en tiempo real. 
</p>

<h2 class="text-gray-600 text-2xl font-bold mt-6 mb-3">Tecnologías usadas</h2>

<ul class="list-disc ml-6">
    <li><h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">Angular</h3>
        <p>Angular es una plataforma y framework para desarrollar aplicaciones web del lado del cliente (front-end). Fue creada y es mantenida principalmente por Google. Angular permite a los desarrolladores crear aplicaciones de una sola página (SPA, por sus siglas en inglés), donde todo el contenido del sitio se carga una vez, y las actualizaciones dinámicas se realizan sin necesidad de recargar la página completa. Se caracteriza por su uso de TypeScript, un superconjunto de JavaScript, y sigue una arquitectura basada en componentes. Angular ofrece herramientas para crear aplicaciones web dinámicas y responsivas.</p>
        <ul class="list-disc ml-6">
            <li>
                <h4 class="text-gray-600 text-1xl font-bold mt-1 mb-1">Tailwind</h4>
                <p>Biblioteca de estilos CSS utilizable en el desarrollo web para facilitar la maquetación y diseño de interfaces.</p>
            </li>
            <li>
                <h4 class="text-gray-600 text-1xl font-bold mt-1 mb-1">Fontawesome</h4> 
                <p>Biblioteca de iconos vectoriales en formato SVG y fuentes que se pueden integrar en proyectos web para mejorar la experiencia del usuario.</p></li>
        </ul>
    </li>
    <li>
        <h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">Node.js</h3>
        <p>Node.js es un entorno de ejecución de JavaScript que permite ejecutar código JavaScript en el lado del servidor. Fue diseñado para crear aplicaciones escalables y de alto rendimiento, utilizando un modelo de entrada/salida no bloqueante (asíncrono). Node.js es ideal para aplicaciones que necesitan manejar muchas conexiones simultáneamente, como servidores web y APIs en tiempo real.</p>
    </li>
    <li><h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">Firebase</h3>
        <p>Firebase es una plataforma de desarrollo de aplicaciones web y móviles proporcionada por Google. Ofrece una amplia gama de herramientas y servicios en la nube, diseñados para ayudar a los desarrolladores a crear, mejorar y escalar aplicaciones rápidamente. Entre sus servicios más destacados se encuentran bases de datos en tiempo real, hosting, almacenamiento, autenticación, análisis y notificaciones push, entre otros. Firebase facilita tanto el desarrollo del backend como el frontend, proporcionando una infraestructura lista para usar y simplificando tareas comunes como la gestión de usuarios y bases de datos.</p>
        <ul class="list-disc ml-6">
            <li>
                <h4 class="text-gray-600 text-1xl font-bold mt-1 mb-1">Firestore</h4>
                <p>Firestore (Firebase Cloud Firestore) es una base de datos NoSQL en tiempo real ofrecida por Firebase. Está diseñada para almacenar, sincronizar y consultar datos para aplicaciones móviles y web de manera eficiente. Firestore se basa en un modelo de datos orientado a documentos, donde los datos se almacenan en colecciones que contienen documentos. Cada documento es un conjunto de datos estructurados con pares clave-valor, lo que permite gran flexibilidad en la organización de los datos. Firestore también permite sincronización en tiempo real entre los clientes conectados y ofrece una integración sencilla con otros servicios de Firebase, como la autenticación.</p>
            </li>
            <li>
                <h4 class="text-gray-600 text-1xl font-bold mt-1 mb-1">Authentication</h4>
                <p>Authentication es un servicio de Firebase que permite gestionar el acceso y la autenticación de los usuarios en una aplicación. Ofrece una forma segura y sencilla de autenticar usuarios utilizando diferentes métodos, como correo electrónico y contraseña, proveedores externos como Google, Facebook o Twitter, y autenticación anónima. Firebase Authentication se integra fácilmente con otras herramientas de Firebase, como Firestore y Realtime Database, lo que permite asociar datos y acciones específicas a los usuarios autenticados. Además, gestiona la seguridad de la autenticación, incluyendo el manejo de tokens y sesiones, lo que simplifica el trabajo de los desarrolladores.</p>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">Visual Studio Code</h3>
        <p>Editor de código fuente desarrollado por Microsoft, popular entre programadores por su versatilidad y herramientas integradas.</p>
    </li>
    <li>
        <h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">Github</h3>
        <p>Plataforma de desarrollo colaborativo que permite alojar proyectos utilizando el sistema de control de versiones Git.</p>   
    </li>
    <li>
        <h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">API de ChatGPT</h3>
        <p>Interfaz de programación de aplicaciones que brinda acceso a las capacidades de procesamiento de lenguaje natural del modelo de inteligencia artificial GPT (Generative Pre-trained Transformer) para crear aplicaciones de chatbots y procesamiento de texto.</p>
    </li>
    <li>
        <h3 class="text-gray-600 text-1xl font-bold mt-3 mb-1">Postman</h3>
        <p>Herramienta utilizada en el desarrollo de APIs para realizar pruebas, depuración y documentación de solicitudes HTTP y servicios web.</p>
    </li>
</ul>