/* left column colors - with drak mode */

.chat-list-column {
  @apply bg-white border-gray-300 dark:bg-[#2d2d2d] dark:border-[#4d4d4d] dark:text-[#e0e0e0];
}

.title-column {
  @apply border-b border-gray-300 dark:border-[#4d4d4d];
}

.h1-title, .span-title {
  @apply text-gray-600 dark:text-[#e0e0e0];
}

.chat-list-column ul {
  @apply list-none text-gray-600 text-sm mb-3;
}

.chat-list-column ul li, div.chat-button {
  @apply bg-gray-100 text-gray-500 hover:bg-gray-200 dark:bg-[#1a1a1a] dark:text-[#a0a0a0] dark:border-[#2d2d2d]; 
}

/* Contenedor del chat seleccionado */
.chat-container {
  flex-grow: 1; /* Permite que este contenedor crezca y ocupe el espacio disponible */
  padding: 10px;
  border: 1px solid #ccc; /* Línea de borde opcional */
  margin-top: 10px; /* Espaciado superior */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos adicionales para los chats */
.chat-container h2 {
  margin: 0;
  font-size: 1.5em; /* Tamaño de fuente para el título del chat */
}

.titleh1 {
  display: inline-block;
}