<div class="flex h-screen">
    <div class="chat-list-column bg-white w-1/6 border border-gray-300 overflow-y-auto">
        
        <div class="flex items-center space-x-2 p-4 border-b border-gray-300">
            <span class="hover:bg-gray-200 hover:text-black cursor-pointer rounded-full h-10 flex items-center justify-center">
                <i class="fa-solid fa-brain text-2xl"></i>
            </span>
            <h1 class="text-gray-600 font-medium text-2xl">AnotherBrain</h1>
        </div>


        <app-chat-list 
        [chats]="chats" (gChatSelected)="ongChatSelected()" 
        (chatSelected)="onChatSelected($event)" 
        (chatLoaded)="onChatLoaded($event)"></app-chat-list>
        <hr>
        
        <app-chattype-list 
        [chatconfigs]="chatconfigs" 
        (chattypeSelected)="onChattypeSelected()" 
        (chatConfigLoaded)="onChatConfigLoaded($event)"></app-chattype-list>

    </div>  
  
    <div class="flex-grow p-4 flex flex-col overflow-y-auto w-5/6">
         
        <div class="conta w-5/6 max-w-4xl">
            <app-documentation *ngIf="showDocumentation && !showInfo"></app-documentation> <!-- Mostrar documentación -->
            <app-info *ngIf="showInfo"></app-info>
            <app-chattype-generator (chatConfigAdded)="saveChatConfig($event)" *ngIf="showChattype"></app-chattype-generator>
            <app-chat-generator (chatAdded)="addChat($event)" *ngIf="showChatgen"></app-chat-generator>
        </div> 

        <div *ngIf="selectedChat && !showDocumentation && !showInfo" class="flex items-center justify-center">
        <div 
             class=" w-full max-w-4xl flex-grow p-4 border border-gray-300 mt-4 bg-gray-100 rounded-lg">
            <app-chat-container [selectedChat]="selectedChat"></app-chat-container>
        </div>
    </div>

    </div>

    
    <div class="fixed top-0 right-0 w-1/9 h-full p-2 border-l border-gray-300 bg-white shadow-lg">
       <app-login-button (loggedOut)="logout()" (chatsLoaded)="onChatLoaded($event)" (chatConfigsLoaded)="onChatConfigLoaded($event)"></app-login-button>
       <app-navegation (documentationSelected)="onDocumentationSelected()" (infoSelected)="onInfoSelected()" (chattypeSelected)="onChattypeSelected()"></app-navegation>
    </div>
</div>
