/* Contenedor del chat seleccionado */
.chat-container {
  flex-grow: 1; /* Permite que este contenedor crezca y ocupe el espacio disponible */
  padding: 10px;
  border: 1px solid #ccc; /* Línea de borde opcional */
  margin-top: 10px; /* Espaciado superior */
  background-color: #f0f0f0; /* Fondo para el contenedor del chat */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos adicionales para los chats */
.chat-container h2 {
  margin: 0;
  font-size: 1.5em; /* Tamaño de fuente para el título del chat */
}

.titleh1 {
  display: inline-block;
}