<div class="chat-list font-gsans m-4">
    <div class="flex items-center">
        <i class="fa-solid fa-list text-gray-600"></i>
        <span class="text-sm font-sans font-normal p-2 text-gray-500">Tipos de chat</span>
      </div>
    <ul class="list-none text-gray-600 text-sm p-2 bg-gray-100 rounded-lg"> 
        <li *ngFor="let chatconfig of chatconfigs" class="p-1 text-15 font-medium text-gray-500">
            <span> {{ chatconfig.typeShortName }} - {{ chatconfig.model }} </span>
        </li>
    </ul>
</div>
