<div class="chat-list font-gsans m-4">
    <div class="flex items-center mb-3">
        <i class="fa-solid fa-list span-title"></i>
        <span class="text-sm font-sans font-normal p-2 span-title">Configuraciones de chat</span>
      </div>
        <ul> 
        <li *ngFor="let chatconfig of chatconfigs" class="
        border-b flex justify-between items-center
        p-2 text-15 font-medium first:rounded-t last:rounded-b last:border-0"
        (click)="clickChatType(chatconfig)"
     (mouseenter)="setMouseOver(chatconfig, true)" (mouseleave)="setMouseOver(chatconfig, false)"     
        >
            <span> {{ chatconfig.typeShortName }} </span>
        
            <span *ngIf="isMouseOver(chatconfig)">
                <i class="fa-solid fa-pen p-1"></i>
                <i class="fa-solid fa-circle-xmark p-1" (click)="removeChatConfig(chatconfig)"></i>
                <!--<i class="fa-solid fa-arrow-right" (click)="selectChat(chat)"></i>-->
              </span>
        
        </li>
    </ul>

    <div class="chat-button flex justify-between items-center p-2 text-sm font-medium rounded-lg" (click)="ongSelectChattype()">
        <span>Crear configuración</span>
        <i class="fa-solid fa-plus p-1"></i>
    </div>

</div>
