<div (click)="onSelectDocumentation()"
class="span-icon cursor-pointer rounded-full w-12  h-12 flex items-center justify-center">
    <i class="fa-sharp fa-solid fa-book text-xl"></i>
</div>

<div (click)="onSelectInfo()"
class="span-icon cursor-pointer rounded-full w-12  h-12 flex items-center justify-center">
    <i class="fa-solid fa-info text-xl"></i>
</div>

<div (click)="toggleTheme()"
class="span-icon cursor-pointer rounded-full  w-12 h-12 flex items-center justify-center">
    <i class="fa-sharp fa-solid fa-moon text-xl"></i>
</div>

